In [324]:
import re
import pandas as pd

Q1: Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
    Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [312]:
string='Python Exercises, PHP exercises.'
Rep_string= re.sub("[ ,.]", ":", string)
print(Rep_string)

Python:Exercises::PHP:exercises:

Q2:Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [84]:
df=pd.DataFrame({'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']})

In [85]:
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [86]:
df['SUMMARY'].str.replace('[\W+\d+X+]'," ",regex="True")

0             hello  world
1                      test
2       four  five   six
Name: SUMMARY, dtype: object

Q3:Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [317]:
string="Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory."
def find4(string):
    pattern=r"\w{4}"
    print(type(pattern))
    regex_pattern=re.compile(pattern)
    print(type(regex_pattern),"\n")
    result=regex_pattern.findall(string)
    print(result)
    
find4(string)

<class 'str'>
<class 're.Pattern'>

['Crea', 'func', 'tion', 'pyth', 'find', 'word', 'that', 'leas', 'char', 'acte', 'long', 'stri', 'comp', 'meth', 'mand', 'ator']

Q4.Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [316]:
def str(string):
    reg_1=re.compile(r'\w{3,5}')
    res=reg_1.findall(string)
    print(res)
    
str1=str1="Machine Learning is a branch of artificial intelligence that develops algorithms by learning the hidden patterns of the datasets used it to make predictions on new similar type data, without being explicitly programmed for each task."    
str(str1)

['Machi', 'Learn', 'ing', 'branc', 'artif', 'icial', 'intel', 'ligen', 'that', 'devel', 'ops', 'algor', 'ithms', 'learn', 'ing', 'the', 'hidde', 'patte', 'rns', 'the', 'datas', 'ets', 'used', 'make', 'predi', 'ction', 'new', 'simil', 'type', 'data', 'witho', 'being', 'expli', 'citly', 'progr', 'ammed', 'for', 'each', 'task']

Q5.Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World

In [318]:
list1=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
def para(string):
    pat3=r"[()]"
    re_pat3=re.compile(pat3)
    print(type(re_pat3))
    for item in string:
        str3=re_pat3.sub("",item)
        print(str3)
        
para(list1)

<class 're.Pattern'>
example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

Q6.Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [90]:
with open("Q6.txt") as file1:
    for para in file1:
        pat4=r'\([^)]+\)'
        str4=re.sub(pat4,"",para)
        print(str4)

["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

Q7.Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [321]:
text="ImportanceOfRegularExpressionsInPython"

result_=re.findall("[A-Z][a-z]+",text)
print(result_)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Q8: Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [322]:
str5="RegularExpression1IsAn2ImportantTopic3InPython"
pat5= r'([A-Za-z]+)(\d+)'
rep_str=re.sub(pat5,r'\1 \2',str5)
print(rep_str)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Q9: Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [323]:
pat6=r'([A-Za-z]+)(\d+)([A-Za-z]+)'
result2 = re.sub(pat6,r' \1 \2 \3 ',str5)
result2

' RegularExpression 1 IsAn 2 ImportantTopic 3 InPython '

Q10:Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [94]:
Gurl="https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df=pd.read_csv(Gurl)

In [95]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [96]:
df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])

In [97]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

Q11:Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [196]:
def string_match(string):
    rege=re.compile(r'(\w+)')
    for search in rege.finditer(string):
        print("Match found in",search.group())

In [197]:
text="Write a Python program"
string_match(text)

Match found in Write
Match found in a
Match found in Python
Match found in program

In [199]:
text2="!@#$%^&*123"
string_match(text2)

Match found in 123

Q12:Write a Python program where a string will start with a specific number

In [278]:
def num(string):
    rege2=re.compile(r'(^9)')
    if rege2.match(string):
        print(string, "starts with", 9)
    else:
        print(string, "does not starts with", 9)

stringx="9abc def"
stringq=" 2abdcv"
num(stringq)
num(stringx)

 2abdcv does not starts with 9
9abc def starts with 9

Q13: Write a Python program to remove leading zeros from an IP address

In [103]:
ip_address="49.036.001.087"
pat7="\.(0)+"
remove=re.sub(pat7,".",ip_address)
print(remove)

'49.36.1.87'

Q14: Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample Text='On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.

In [104]:
with open("Q14.txt") as file:
    for date_ in file:
        dates=re.findall("([A-Z][a-z]+) (\d{2}th) (\d{4})",date_)
        print(dates)

[('August', '15th', '1947')]

Q15:Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [105]:
text1='The quick brown fox jumps over the lazy dog.'
pat8=["fox","dog","horse"]
for string in pat8:
    if re.search(string,text1):
        print(string,"is in" ,text1)
    else:
        print(string,"is not in",text1)

fox is in The quick brown fox jumps over the lazy dog.
dog is in The quick brown fox jumps over the lazy dog.
horse is not in The quick brown fox jumps over the lazy dog.

Q16:Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [106]:
text1='The quick brown fox jumps over the lazy dog.'
pat9=["fox"]
for string in pat9:
    if re.search(string,text1):
        print(string,"is in",text1)
    else:
        print(string,"is not in",text1)
    search_=re.search("fox",text1)
    print(search_)

fox is in The quick brown fox jumps over the lazy dog.
<re.Match object; span=(16, 19), match='fox'>

Q17:Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [107]:
text2='Python exercises, PHP exercises, C# exercises'
pat10="exercises"
Pattern=re.findall(pat10,text2)
for pat in Pattern:
    print(pat,"found")

exercises found
exercises found
exercises found

Q18: Write a Python program to find the occurrence and position of the substrings within a string.

In [108]:
text3=" Write a Python program to find the occurrence and position of the substrings within a string."
pat11="substring"
search1=re.search(pat11,text3)
print(search1)

<re.Match object; span=(67, 76), match='substring'>

Q19: Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [109]:
def convert(date):
    pat12=r"(\d{4})-(\d{2})-(\d{2})"
    new_date=re.sub(pat12,r"\3-\2-\1",date)
    print(new_date)

In [110]:
date1="2024-04-04"
convert(date1)

04-04-2024

Q20: Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [113]:
def find_decimal(sample_text):
    pat13="\d+\.\d{1,2}"
    re_pat13=re.compile(pat13)
    Expected_Output=re_pat13.findall(sample_text)
    print(Expected_Output)
Sample_Text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
find_decimal(Sample_Text)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

Q21:Write a Python program to separate and print the numbers and their position of a given string.

In [132]:
string5='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
def numb(string):
    pat14=re.compile('(\d+)')
    for pat in pat14.finditer(string):
        print(pat.group())
        print(pat)
    
    
numb(string5)

947
<re.Match object; span=(31, 34), match='947'>
896
<re.Match object; span=(36, 39), match='896'>
926
<re.Match object; span=(41, 44), match='926'>
524
<re.Match object; span=(46, 49), match='524'>
734
<re.Match object; span=(51, 54), match='734'>
950
<re.Match object; span=(56, 59), match='950'>
642
<re.Match object; span=(61, 64), match='642'>

Q22:Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [133]:
string5='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pat15=r'\d+'
numb=re.findall(pat15,string5)
print(numb)
print(max(numb))

['947', '896', '926', '524', '734', '950', '642']
950

Q23: Create a function in python to insert spaces between words starting with capital letters.
    Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [146]:
string6='RegularExpressionIsAnImportantTopicInPython'
def capital(string):
    pat16=r'([A-Z])([a-z]+)'
    output= re.sub(pat16,r'\1\2 ',string)
    print(output)
    
capital(string6)

Regular Expression Is An Important Topic In Python

Q24: Python regex to find sequences of one upper case letter followed by lower case letters

In [154]:
string7="Python Regex to find Sequences of one Upper case letter followed by lower case letters"
def sequence(string):
    pat17=r'([A-Z])([a-z]+)'
    re_pat17=re.compile(pat17)
    for pat in re_pat17.finditer(string):
        print(pat.group())
        
sequence(string7)

Python
Regex
Sequences
Upper

Q25: Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [170]:
string8="Hello hello world world"
reg=r'\b(\w+)(?:\W+\1\b)+'
x=re.sub(reg,r'\1',string8)
print(x)

Hello hello world

Q26: Write a python program using RegEx to accept string ending with alphanumeric character.

In [287]:
def alphanumeric(string):
    reg1='[A-Za-z0-9]$'
    if re.search(reg1,string):
        print("The", string," is accepted")
    else:
        print(" The", string," is not accepted")

In [290]:
st="bsckjal2233"
alphanumeric(st)
st1=" abcd**" 
alphanumeric(st1)

The bsckjal2233  is accepted
 The  abcd**  is not accepted

Q27: Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [291]:
def hashtag(string):
    regex1=r'#\w+'
    output=re.findall(regex1,string)
    print(output)

Text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
hashtag(Text)

['#Doltiwal', '#xyzabc', '#Demonetization']

Q28:Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [293]:
def remove(string):
    regex2=r'<U\+[A-Za-z0-9]+>'
    output=re.sub(regex2,"",string)
    print(output)
    
Text1="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
remove(Text1)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

Q29: Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [299]:
with open("Q29.txt") as file2:
    for file in file2:
        regex3='(\d{2}-\d{2}-\d{4})'
        output3=re.findall(regex3,file)
        print(output3)

['12-09-1992', '15-12-1999']

Q30: Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [311]:
def length(string):
    re_gex= re.compile(r'\b\w{2,4}\b')
    output4=re_gex.sub("",string)
    print(output4)
    
xt="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
length(xt)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.