In [1]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time
from selenium import webdriver
from selenium.webdriver.common.by import By

Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and
salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [18]:
#opening chrome
driver=webdriver.Chrome()

In [19]:
#opening website www.naukri.com
driver.get("https://www.naukri.com")

In [20]:
#Enterning Data Scientist in job title column
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [21]:
#clicking search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [22]:
#clicking on filter location
location=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[2]/label/i")
location.click()

In [23]:
#clicking on salary filter
salary=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[6]/div[2]/div[2]/label/i")
salary.click()

In [24]:
#scraping job title,location,company,experience
job_title=[]
job_location=[]
experience=[]
company_name=[]

In [25]:
title_tag=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tag:
    title=i.text
    job_title.append(title)

In [26]:
location_tag=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tag:
    location=i.text
    job_location.append(location)

In [29]:
company_tag=driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]/a[1]')
for i in company_tag:
    company=i.text
    company_name.append(company)

In [30]:
experience_tag=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tag:
    exp=i.text
    experience.append(exp)

In [31]:
print(len(job_title),len(job_location),len(company_name),len(experience))

20 20 20 20

In [32]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Çompany':company_name,'Experience':experience})
df[0:10]

,Job Title,Job Location,Çompany,Experience
0,Data Scientist HTHD,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,1-4 Yrs
1,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3-7 Yrs
2,"Data Scientist - NLP, Gen AI",Noida,R Systems International,5-8 Yrs
3,Associate Scientist - Data Sourcing & Solutions,Gurugram,Axa Technology Services,1-4 Yrs
4,Global GI Data Scientist,Faridabad,Hitachi Ltd.,3-5 Yrs
5,Global GI Data Scientist,Faridabad,Hitachi Energy,3-5 Yrs
6,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Digital Glyde,3-7 Yrs
7,Python Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Wizaltia Hr Solutions,2-7 Yrs
8,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kmart,3-5 Yrs
9,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",KAS Services,3-5 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [33]:
#opening Chrome
driver=webdriver.Chrome()

In [34]:
#opening URL
driver.get("https://www.shine.com")

In [36]:
#entering designation in search column
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys("Data Analyst")

In [37]:
#entering location 
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys("Bangalore")

In [42]:
#clicking search button
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [43]:
Job_Title1=[]
Job_Location=[]
Company_Name=[]
Experience_Req=[]

In [60]:
#Scraping Job Title
job_tag=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]/h2/a')
for i in job_tag:
    job=i.text
    Job_Title1.append(job)

In [47]:
#Scraping location
Location=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in Location:
    loc=i.text
    Job_Location.append(loc)
    
Job_Location[0:10]

['Bangalore\n+8',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+6',
 'Bangalore\n+12',
 'Bangalore\n+12',
 'Bangalore\n+12',
 'Bangalore\n+12',
 'Bangalore\n+6',
 'Bangalore']

In [50]:
#Scraping company
company=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company:
    company1=i.text
    Company_Name.append(company1)
    
Company_Name[0:10]

['appsoft solutions',
 'valenta bpo solutions pvt. ltd.',
 'talent leads hr solutions pvt ltd',
 'techno endura',
 'radhika enterprises',
 'radhika enterprises',
 'radhika enterprises',
 'radhika enterprises',
 'mackenzie modern it solutions priva...',
 'quess corp (magna infotech)']

In [51]:
#scraping experience
experience=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience:
    exp1=i.text
    Experience_Req.append(exp1)
Experience_Req[0:10]

['0 to 4 Yrs',
 '4 to 5 Yrs',
 '3 to 8 Yrs',
 '0 to 1 Yr',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '4 to 6 Yrs',
 '8 to 13 Yrs']

In [61]:
print(len(Job_Title1),len(Job_Location),len(Company_Name),len(Experience_Req))

40 40 40 40

In [105]:
#creating dataframe
df=pd.DataFrame({"Job Title":Job_Title1,"Job Location":Job_Location,"Company Name":Company_Name,"Experience required":Experience_Req})
df[0:10]

,Job Title,Job Location,Company Name,Experience required
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore,valenta bpo solutions pvt. ltd.,4 to 5 Yrs
2,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,talent leads hr solutions pvt ltd,3 to 8 Yrs
3,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
4,Data Analyst Opening,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
5,Data Analyst Fresher and Experience Vacancy,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
6,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
7,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
8,Business Analyst,Bangalore\n+6,mackenzie modern it solutions priva...,4 to 6 Yrs
9,MIS Analyst,Bangalore,quess corp (magna infotech),8 to 13 Yrs

Q3:Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=F
LIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the stepsrequired during scraping should be done through code only and not manually.

In [138]:
driver=webdriver.Chrome()

In [139]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone+11+black&store=tyy/4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=07c38051-5545-4372-92de-e2d6b01a0272.MOBFWQ6BXGJCEYNY.SEARCH&ppt=browse&ppn=browse&ssid=bicbkmk3g00000001716021060070&qH=77772a3e6366cdf8")

In [135]:
RATING2=[]
REVIEW2=[]
FULLREVIEW2=[]

In [140]:
#to see all reviews
all_reviews=driver.find_element(By.XPATH,'//div[@class="_23J90q RcXBOT"]/span')
all_reviews.click()

In [141]:
#for turning pages
for page in range(1,11,1):
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
    for i in rating_tag:
        rating=i.text
        RATING2.append(rating)
    summary_tag=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
    for j in summary_tag:
        summary=j.text
        REVIEW2.append(summary)
    review=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
    for k in review:
        full_review=k.text
        FULLREVIEW2.append(full_review)
    Next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    Next_button.click()
    time.sleep(3)

In [142]:
print(len(RATING2),len(REVIEW2),len(FULLREVIEW2))

100 100 100

In [143]:
df=pd.DataFrame({"Rating":RATING2,"Review Summary":REVIEW2,"Full Review":FULLREVIEW2})
df

,Rating,Review Summary,Full Review
0,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
1,5,Terrific,Very very good
2,5,Wonderful,This is amazing at all
3,5,Worth every penny,Feeling awesome after getting the delivery of ...
4,5,Best in the market!,Good Camera
...,...,...,...
95,4,Really Nice,Great phone and camera and timely delivery by ...
96,4,Good quality product,"Awesome camera, smooth and fast UI, display is..."
97,5,Just wow!,Just Wow🥰🤍
98,5,Excellent,Value for money
99,5,Best in the market!,The only thing i didnt like about the phone is...

Q4:Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [144]:
driver=webdriver.Chrome()

In [145]:
driver.get("https://www.flipkart.com")

In [146]:
product=driver.find_element(By.CLASS_NAME,'Pke_EE')
product.send_keys("Sneakers")

In [147]:
search=driver.find_element(By.CLASS_NAME,'_2iLD__')
search.click()

In [149]:
Shoe_Brand=[]
Shoe_Description=[]
Shoe_Price=[]

In [153]:
#for turning pages
for page in range(1,4):
    brand_sneaker=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for i in brand_sneaker:
        brand=i.text
        Shoe_Brand.append(brand)
    product_desc=driver.find_elements(By.XPATH,'//div[@class="hCKiGj"]/a[1]')
    for i in product_desc:
        product1=i.text
        Shoe_Description.append(product1)
    price_tag=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    for i in price_tag:
        price=i.text
        Shoe_Price.append(price)
    next_button=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)

In [154]:
print(len(Shoe_Price),len(Shoe_Brand),len(Shoe_Description))

120 120 120

In [155]:
df=pd.DataFrame({"Brand Name":Shoe_Brand,"Price":Shoe_Price,"Description":Shoe_Description})

In [156]:
df[0:100]

     Brand Name    Price                                        Description
0        Shozie     ₹351         Stylish Shoes for Girls Sneakers For Women
1        BRUTON     ₹470      Combo Pack Of 2 Casual Shoes Sneakers For Men
2      URBANBOX     ₹299  Trending Stylish Casual Outdoor Shoes Sneakers...
3      RED TAPE   ₹1,649  Casual Sneaker Shoes for Men | Classic Rounded...
4      RED TAPE   ₹1,769  Casual Sneakers Shoes for Men | Soft Cushioned...
..          ...      ...                                                ...
95       ORICUM     ₹636  Oricum Sports Walking Gym sneakers Trekking Hi...
96        asian     ₹693  Casual Sneaker Shoes for Men | Soft Cushioned ...
97    RUN SEVEN     ₹899  ( by GO21 ) Soft Insole, Slip-Resistance|Casua...
98     HOTSTYLE     ₹757                                   Sneakers For Men
99  New Balance  ₹12,458                              Roav Sneakers For Men

[100 rows x 3 columns]

Q5:Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
Type filter to “Intel Core i7” as shown in the below image:
    Aftersetting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [179]:
driver=webdriver.Chrome()

In [180]:
driver.get("https://www.amazon.in")

In [182]:
item=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
item.send_keys("Laptop")

In [183]:
search_button=driver.find_element(By.CLASS_NAME,"nav-right")
search_button.click()

In [185]:
#for clicking on intel7
CPU=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div/div/div/div[5]/ul[19]/span/span[9]/li/span/a/div/label/i")
CPU.click()

In [205]:
Title=[]
Laptop_Ratings=[]
Price=[]

In [206]:
title_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')

for i in title_tag:
    title=i.text
    Title.append(title)
Title[0:10]

['Acer Aspire Lite 12th Gen Intel Core i7-1255U Premium Metal Laptop (Windows 11 Home/16 GB RAM/512 GB SSD) AL15-52, 39.62cm (15.6") Full HD Display, Metal Body, Steel Gray, 1.59 Kg',
 'Dell Inspiron 7420 2in1 Laptop, Intel Core i7-1255U Processor/16GB/512GB/14.0" (35.56cm) FHD+ WVA Touch 250 nits, Active Pen/Win 11 + MSO\'21, 15 Month McAfee/Backlit KB + FPR/Platinum Silver',
 'Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 15.6" (39.62cm) FHD Laptop (16GB/512GB SSD/Win 11/Office 2021/2 Years Warranty/Arctic Grey/1.65Kg), 82H803B6IN',
 'MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN',
 'HP Laptop 15s, 12th Gen Intel Core i7-1255U, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 512GB SSD, Intel Iris Xe Graphics, Backlit KB, Thin & Light (Win 11, MSO 2021, Silver, 1.69 kg), fq5190TU',
 'ASUS Vivobook 15, IntelCore i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16 GB RAM/512GB SSD/Win11/Office 2021/Backlit/42WHr /Silver/1.75), X1502ZA-EJ742WS',
 'ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, 4GB NVIDIA GeForce RTX 3050 Ti, Gaming Laptop (16GB/512GB SSD/Windows 11/90WHrs Battery/Black/2.30 Kg), FX506HE-HN382W',
 'Acer Travelmate Business Laptop Intel Core i7-11th Gen (Windows 11 Home/16 GB Ram/1TB SSD/Intel Iris Xe Graphics/14.0 IPS Display/Backlit Keyboard/Fingerprint Sensor) TMP214-53',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel Iris Xe Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver,14-dv2015TU',
 'HP Victus Gaming Laptop, 12th Gen Intel Core i7-12650H, 4GB RTX 3050 GPU, 15.6-inch (39.6 cm), 75W TGP, FHD, IPS, 144Hz, 16GB DDR4, 512GB SSD, Backlit KB, B&O (MSO, Blue, 2.37 kg), fa0188TX']

In [200]:
ratings_tags=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span[2]')
for i in ratings_tags:
    ratinggs=i.text
    Laptop_Ratings.append(ratinggs)
Laptop_Ratings[0:10]

['394', '72', '494', '109', '59', '244', '286', '34', '696', '407']

In [203]:
price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for i in price_tag:
    price=i.text
    Price.append(price)
Price[0:10]

['₹54,990',
 '₹77,490',
 '₹58,250',
 '₹54,990',
 '₹63,990',
 '₹57,990',
 '₹72,990',
 '₹47,990',
 '₹77,700',
 '₹79,990']

In [207]:
print(len(Price),len(Laptop_Ratings),len(Title))
#lenght of rating is different as there were no ratings in 2 products

24 22 24

In [208]:
Title1=Title[0:10]
Price1=Price[0:10]
Laptop_Ratings1=Laptop_Ratings[0:10]

In [210]:
df=pd.DataFrame({"Laptop Title":Title1,"Laptop Price":Price1,"Laptop Ratings":Laptop_Ratings1})
df

,Laptop Title,Laptop Price,Laptop Ratings
0,Acer Aspire Lite 12th Gen Intel Core i7-1255U ...,"₹54,990",394
1,"Dell Inspiron 7420 2in1 Laptop, Intel Core i7-...","₹77,490",72
2,Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...,"₹58,250",494
3,"MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...","₹54,990",109
4,"HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...","₹63,990",59
5,"ASUS Vivobook 15, IntelCore i7-12650H 12th Gen...","₹57,990",244
6,"ASUS TUF Gaming F15, 15.6""(39.62 cms) FHD 144H...","₹72,990",286
7,Acer Travelmate Business Laptop Intel Core i7-...,"₹47,990",34
8,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,"₹77,700",696
9,"HP Victus Gaming Laptop, 12th Gen Intel Core i...","₹79,990",407

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuote
3. Than scrap a)Quote b) Author c) Type Of Quotes

In [220]:
driver=webdriver.Chrome()

In [221]:
driver.get("https://www.azquotes.com/")

In [222]:
#clicking on top quotes buttion
top_quotes=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [214]:
Quote=[]
Author=[]
Type_of_Quote=[]

In [215]:
quote_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tag:
    quote=i.text
    Quote.append(quote)
Quote

['The essence of strategy is choosing what not to do.',
 'One cannot and must not try to erase the past merely because it does not fit the present.',
 'Patriotism means to stand by the country. It does not mean to stand by the president.',
 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.',
 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.',
 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.',
 'Weak people revenge. Strong people forgive. Intelligent People Ignore.',
 "A mind is like a parachute. It doesn't work if it is not open.",
 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.',
 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.',
 "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.",
 'The difference between stupidity and genius is that genius has its limits.',
 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.',
 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.',
 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.',
 'A person who never made a mistake never tried anything new.',
 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style',
 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.',
 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.',
 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.',
 'Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.',
 'To be a Christian means to forgive the inexcusable because God has forgiven the inexcusable in you.',
 'A man who is good enough to shed his blood for the country is good enough to be given a square deal afterwards.',
 'Kindness is the language which the deaf can hear and the blind can see.',
 'Most folks are as happy as they make up their minds to be.',
 'A happy marriage is the union of two good forgivers.',
 'I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.',
 'Politics is the art of looking for trouble, finding it everywhere, diagnosing it incorrectly and applying the wrong remedies.',
 "I believe in everything until it's disproved. So I believe in fairies, the myths, dragons. It all exists, even if it's in your mind. Who's to say that dreams and nightmares aren't as real as the here and now?",
 'At the end of your life, you will never regret not having passed one more test, not winning one more verdict or not closing one more deal. You will regret time not spent with a husband, a friend, a child, or a parent.',
 'I never think of the future - it comes soon enough.',
 "Our greatest fear should not be of failure but of succeeding at things in life that don't really matter.",
 'Failure is simply the opportunity to begin again, this time more intelligently.',
 'Music expresses that which cannot be put into words.',
 'Good actions are a guard against the blows of adversity.',
 'Positive thinking will let you do everything better than negative thinking will.',
 "You have enemies? Good. That means you've stood up for something, sometime in your life.",
 "You don't have to be great to start, but you have to start to be great",
 'Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.',
 "If you want total security, go to prison. There you're fed, clothed, given medical care and so on. The only thing lacking... is freedom.",
 'Socialism is a philosophy of failure, the creed of ignorance, and the gospel of envy, its inherent virtue is the equal sharing of misery.',
 'It is the supreme art of the teacher to awaken joy in creative expression and knowledge.',
 "Once you replace negative thoughts with positive ones, you'll start having positive results.",
 "You build on failure. You use it as a stepping stone. Close the door on the past. You don't try to forget the mistakes, but you don't dwell on it. You don't let it have any of your energy, or any of your time, or any of your space.",
 'All my life through, the new sights of Nature made me rejoice like a child.',
 "I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.",
 'Marriage is not a ritual or an end. It is a long, intricate, intimate dance together and nothing matters more than your own sense of balance and your choice of partner.',
 'When obstacles arise, you change your direction to reach your goal; you do not change your decision to get there.',
 'Time you enjoy wasting, was not wasted.',
 'The next time some academics tell you how important diversity is, ask how many Republicans there are in their sociology department.',
 'Faith is not the belief that God will do what you want. It is the belief that God will do what is right.',
 "If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward.",
 'It is hard to imagine a more stupid or more dangerous way of making decisions than by putting those decisions in the hands of people who pay no price for being wrong.',
 'I say that the most liberating thing about beauty is realizing that you are the beholder.',
 'The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.',
 'The soldier, above all other people, prays for peace, for he must suffer and bear the deepest wounds and scars of war.',
 'A true leader has the confidence to stand alone, the courage to make tough decisions, and the compassion to listen to the needs of others. He does not set out to be a leader, but becomes one by the equality of his actions and the integrity of his intent.',
 'I am a Soldier, I fight where I am told, and I win where I fight.',
 "Trying to do the Lord's work in your own strength is the most confusing, exhausting, and tedious of all work. But when you are filled with the Holy Spirit, then the ministry of Jesus just flows out of you.",
 "Sports for me is when a guy walks off the court, and you really can't tell whether he won or lost, when he carries himself with pride either way.",
 'Expect the best. Prepare for the worst. Capitalize on what comes.',
 'I became insane, with long intervals of horrible sanity.',
 'Failure is a detour, not a dead-end street.',
 'I am not a product of my circumstances. I am a product of my decisions.',
 'You can cut all the flowers but you cannot keep spring from coming.',
 "Life doesn't run away from nobody. Life runs at people.",
 'In order to succeed, your desire for success should be greater than your fear of failure.',
 "It's difficult to think anything but pleasant thoughts while eating a homegrown tomato.",
 'Too many of us are not living our dreams because we are living our fears.',
 'If the only prayer you ever say in your entire life is thank you, it will be enough.',
 "It's just a job. Grass grows, birds fly, waves pound the sand. I beat people up.",
 'A man must be big enough to admit his mistakes, smart enough to profit from them, and strong enough to correct them.',
 'Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.',
 "It has been said, 'time heals all wounds.' I do not agree. The wounds remain. In time, the mind, protecting its sanity, covers them with scar tissue and the pain lessens. But it is never gone.",
 'This is one small step for a man, one giant leap for mankind.',
 "I have held many things in my hands, and I have lost them all; but whatever I have placed in God's hands, that I still possess.",
 "Welfare's purpose should be to eliminate, as far as possible, the need for its own existence.",
 'Each time, before you intercede, be quiet first, and worship God in His glory. Think of what He can do, and how He delights to hear the prayers of His redeemed people. Think of your place and privilege in Christ, and expect great things!',
 "Failure is not the opposite of success; it's part of success.",
 'No one has ever become poor by giving.',
 'It is not my ability, but my response to God’s ability, that counts.',
 'No one is born hating another person because of the color of his skin, or his background, or his religion. People must learn to hate, and if they can learn to hate, they can be taught to love, for love comes more naturally to the human heart than its opposite.',
 'No matter what people tell you, words and ideas can change the world.',
 'A man should never neglect his family for business.',
 'Those who dare to fail miserably can achieve greatly.',
 'The two most important days in your life are the day you are born and the day you find out why.',
 'We must be global Christians with a global vision because our God is a global God.',
 'With everything that has happened to you, you can either feel sorry for yourself or treat what has happened as a gift. Everything is either an opportunity to grow or an obstacle to keep you from growing. You get to choose.',
 'Don’t let the noise of others’ opinions drown out your own inner voice.',
 'History, despite its wrenching pain, cannot be unlived, but if faced with courage, need not be lived again.',
 "How old would you be if you didn't know how old you are?",
 'Leadership is a privilege to better the lives of others. It is not an opportunity to satisfy personal greed.',
 'If you have good thoughts they will shine out of your face like sunbeams and you will always look lovely.',
 'Never cut a tree down in the wintertime. Never make a negative decision in the low time. Never make your most important decisions when you are in your worst moods. Wait. Be patient. The storm will pass. The spring will come.',
 'An optimist stays up until midnight to see the new year in. A pessimist stays up to make sure the old year leaves.',
 'When the going gets weird, the weird turn pro.',
 "When a train goes through a tunnel and it gets dark, you don't throw away the ticket and jump off. You sit still and trust the engineer.",
 'If you think you are too small to make a difference, try sleeping with a mosquito.',
 "God doesn't require us to succeed, he only requires that you try.",
 'Change your thoughts and you change your world.']

In [216]:
len(Quote)

100

In [224]:
author_tag=driver.find_elements(By.XPATH,'//div[@class="author"]/a')
for i in author_tag:
    author=i.text
    Author.append(author)
Author

['Michael Porter',
 'Golda Meir',
 'Theodore Roosevelt',
 'Nelson Mandela',
 'Erma Bombeck',
 'John Wooden',
 'Albert Einstein',
 'Frank Zappa',
 'William Faulkner',
 'Will Rogers',
 'Jimmy Carter',
 'Albert Einstein',
 'Abraham Lincoln',
 'Steven Weinberg',
 'Franklin D. Roosevelt',
 'Albert Einstein',
 'Maya Angelou',
 'Mark Twain',
 'Theodore Roosevelt',
 'Michael Jackson',
 'Martin Luther King, Jr.',
 'C. S. Lewis',
 'Theodore Roosevelt',
 'Mark Twain',
 'Abraham Lincoln',
 'Ruth Graham',
 'C. S. Lewis',
 'Groucho Marx',
 'John Lennon',
 'Barbara Bush',
 'Albert Einstein',
 'Francis Chan',
 'Henry Ford',
 'Victor Hugo',
 'Abu Bakr',
 'Zig Ziglar',
 'Winston Churchill',
 'Zig Ziglar',
 'John F. Kennedy',
 'Dwight D. Eisenhower',
 'Winston Churchill',
 'Albert Einstein',
 'Willie Nelson',
 'Johnny Cash',
 'Marie Curie',
 'Maya Angelou',
 'Amy Bloom',
 'Zig Ziglar',
 'John Lennon',
 'Thomas Sowell',
 'Max Lucado',
 'Martin Luther King, Jr.',
 'Thomas Sowell',
 'Salma Hayek',
 'Martin Luther King, Jr.',
 'Douglas MacArthur',
 'Douglas MacArthur',
 'George S. Patton',
 'Corrie Ten Boom',
 'Jim Courier',
 'Zig Ziglar',
 'Edgar Allan Poe',
 'Zig Ziglar',
 'Stephen Covey',
 'Pablo Neruda',
 'Joe Frazier',
 'Bill Cosby',
 'Lewis Grizzard',
 'Les Brown',
 'Meister Eckhart',
 'Muhammad Ali',
 'John C. Maxwell',
 'Thomas A. Edison',
 'Rose Kennedy',
 'Neil Armstrong',
 'Martin Luther',
 'Ronald Reagan',
 'Andrew Murray',
 'Arianna Huffington',
 'Anne Frank',
 'Corrie Ten Boom',
 'Nelson Mandela',
 'Robin Williams',
 'Walt Disney',
 'John F. Kennedy',
 'Mark Twain',
 'John Stott',
 'Wayne Dyer',
 'Steve Jobs',
 'Maya Angelou',
 'Satchel Paige',
 'Mwai Kibaki',
 'Roald Dahl',
 'Robert H. Schuller',
 'Bill Vaughan',
 'Hunter S. Thompson',
 'Corrie Ten Boom',
 'Dalai Lama',
 'Mother Teresa',
 'Norman Vincent Peale']

In [225]:
len(Author)

100

In [226]:
quote_type=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quote_type:
    quotetype=i.text
    Type_of_Quote.append(quotetype)
    
Type_of_Quote

['Essence, Deep Thought, Transcendentalism',
 'Inspiration, Past, Trying',
 'Country, Peace, War',
 'Inspirational, Motivational, Death',
 '4th Of July, Food, Patriotic',
 'Inspirational, Success, Basketball',
 'Strong, Revenge, Intelligent',
 'Inspirational, Teacher, Religious',
 'Truth, Honesty, Lying',
 'Funny, Reading, Learning',
 'Strong, Thoughtful, Compassion',
 'Love, Funny, Life',
 'Freedom, Men, Democracies Have',
 'God, Religious, Atheist',
 'Respect, Kindness, Character',
 'Inspirational, Motivational, Change',
 'Inspirational, Life, Inspiring',
 'Love, Inspirational, Life',
 'Inspiring, Country, 4th Of July',
 'Inspirational, Dream, Hate',
 'Love, Inspirational, Life',
 'Forgiveness, God, Christian',
 'Country, Men, Squares',
 'Inspirational, Relationship, Positive',
 'Inspirational, Motivational, Positive',
 'Love, Friendship, Relationship',
 'Faith, God, Christian',
 'Art, Freedom, Political Will',
 'Inspirational, Life, Faith',
 'Inspirational, Life, Meaningful',
 'Happiness, Time, Clever',
 'Inspirational, Inspiring, Success',
 'Love, Inspirational, Life',
 'Music, Sound And Music, Musical Life',
 'Adversity, Blow, Action',
 'Positive, Thinking Of You, Attitude',
 'Inspirational, Funny, Life',
 'Inspirational, Life, Motivational',
 'Inspirational, Memorial Day, Freedom',
 'Freedom, Patriotic, Vaccines',
 'Philosophy, Ignorance, Democratic Socialism',
 'Inspirational, Dance, Education',
 'Life, Change, Positive',
 'Life, Bullying, Mistake',
 'Life, Nature, Children',
 'Inspirational, Life, Motivational',
 'Marriage, Love You, Long',
 'Inspirational, Motivational, Success',
 'Love, Inspirational, Life',
 'Diversity, Important, Liberty',
 'Inspirational, God, Faith',
 'Inspirational, Motivational, Inspiring',
 'Business, Stupid, Government',
 'Beauty, Love Yourself, Your Beautiful',
 'Inspirational, Life, Motivational',
 'Peace, Military, War',
 'Inspirational, Leadership, Confidence',
 'Motivational, Military, War',
 'Christian, Jesus, Confusing',
 'Inspirational, Success, Sports',
 'Inspirational, Motivational, Success',
 'Inspirational, Life, Clever',
 'Inspirational, Death, Failure',
 'Inspirational, Life, Motivational',
 'Inspiring, Hope, Spring',
 'Motivational, Running, People',
 'Inspirational, Motivational, Positive',
 'Summer, Food, Garden',
 'Inspirational, Life, Motivational',
 'Inspirational, Life, Thank You',
 'Funny, Sports, Jobs',
 'Being Strong, Wisdom, Stay Strong',
 'Inspirational, Motivational, Positive',
 'Time, Pain, Get Well',
 'Motivational, Positive, Moon',
 'Life, God, Christian',
 'President, Needs, Purpose',
 'God, Faith, Christian',
 'Women, Failure, Successful',
 'Inspirational, Morning, Kindness',
 'Hiding Place, Ability, Baby Boom',
 'Love, Inspirational, Life',
 'Inspirational, Change, Philosophy',
 'Inspirational, Family, Inspiring',
 'Inspirational, Success, Courage',
 'Inspirational, Life, Motivational',
 'Christian, Vision, Missionary',
 'Inspirational, Positive, Regret',
 'Love, Inspirational, Life',
 'Inspirational, Life, Encouragement',
 'Happy Birthday, Baseball, Fun',
 'Leadership, Power, Opportunity',
 'Inspirational, Life, Positive',
 'Inspirational, Encouraging, Patience',
 'New Year, Fun, New Beginnings',
 'Music, Sports, Hunting',
 'Trust, Encouraging, Uplifting',
 'Inspirational, Funny, Change',
 'Success, God, Mother',
 'Inspirational, Motivational, Change']

In [227]:
len(Type_of_Quote)

100

In [228]:
df=pd.DataFrame({"Quote":Quote,"Author":Author,"Type_of_Quote":Type_of_Quote})
df

,Quote,Author,Type_of_Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name,
Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1
scrap the mentioned data and make the DataFrame

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get("https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1")

In [34]:
S_No=[]
PM=[]
Born_dead=[]
Term=[]
Remarks=[]

In [39]:
#for getting serial no.
sn_tag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[1]')
for i in sn_tag:
    sn=i.text
    S_No.append(sn)
S_No

['1.',
 '2.',
 '3.',
 '4. ',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 'List of all Presidents of India']

In [48]:
S_No.pop(19)

'List of all Presidents of India'

In [33]:
#for getting pm name
pm_tag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[2]')
for i in pm_tag:
    pm=i.text
    PM.append(pm)
PM

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi',
 'Narendra Modi',
 'List of Nicknames of Indian Prime Ministers']

In [46]:
PM.pop(19)

'List of Nicknames of Indian Prime Ministers'

In [47]:
PM

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi',
 'Narendra Modi']

In [40]:
#for getting born_died details
bd_tag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[3]')
for i in bd_tag:
    bd=i.text
    Born_dead.append(bd)
Born_dead

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)',
 '(born 1950)']

In [41]:
#for getting term details
term_tag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[4]')
for i in term_tag:
    term=i.text
    Term.append(term)
Term

['15 August 1947 to 27 May 1964\n16 years, 286 days',
 '27 May 1964 to 9 June 1964,\n13 days',
 '9 June 1964 to 11 January 1966\n1 year, 216 days',
 '11 January 1966 to 24 January 1966\n13 days',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 '24 March 1977 to  28 July 1979 \n2 year, 126 days',
 '28 July 1979 to 14 January 1980\n170 days',
 '14 January 1980 to 31 October 1984\n4 years, 291 days',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 '2 December 1989 to 10 November 1990\n343 days',
 '10 November 1990 to 21 June 1991\n223 days',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 '16 May 1996 to 1 June 1996\n16 days',
 '1 June 1996 to 21 April 1997\n324 days',
 '21 April 1997 to 19 March 1998 \n332 days',
 '19 March 1998 to 22 May 2004 \n6 years, 64 days',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days',
 '26 May 2014 - 2019',
 '30 May 2019- Incumbent']

In [43]:
#for getting remarks
remark_tag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[5]')
for i in remark_tag:
    remark=i.text
    Remarks.append(remark)
Remarks

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from South India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures',
 'First non-congress PM with two consecutive tenures']

In [49]:
print(len(S_No),len(PM),len(Born_dead),len(Term),len(Remarks))

19 19 19 19 19

In [51]:
df1=pd.DataFrame({"S.No":S_No,"PM Name":PM,"Born-Dead":Born_dead,"Term of Office":Term,"Remark":Remarks})
df1

,S.No,PM Name,Born-Dead,Term of Office,Remark
0,1.,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,2.,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,3.,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,4.,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,5.,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,6.,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,7.,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,8.,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,9.,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,10.,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,11.,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,12.,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,13.,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,14.,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,15.,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,16.,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,17.,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,18.,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,19.,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

Q8: Write a python program to display list of 50 Most expensive cars in the world
(i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap thementioned data and make the dataframe.

In [52]:
driver=webdriver.Chrome()

In [53]:
driver.get("https://www.motor1.com/")

In [56]:
#eantering in search column
prod=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input')
prod.send_keys("50 most expensive cars")

In [57]:
#clicking on search button
search1=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search1.click()

In [58]:
#clicking on article heading
Article=driver.find_element(By.XPATH,'/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
Article.click()

In [59]:
Car=[]
Car_Price=[]

In [65]:
#Car Names
Car_tag=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in Car_tag:
    car=i.text
    Car.append(car)
Car.pop(50)

'Most Expensive Cars In The World'

In [67]:
len(Car)

50

In [82]:
#car prices
CarPrice_tag=driver.find_elements(By.XPATH,'//div[@class="postContent content-wrapper"]/div[2]/p/strong')
for i in CarPrice_tag:
    carprice=i.text
    Car_Price.append(carprice)
Car_Price

['Price: $1.5 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $2.8 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $4.8 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $7.5 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $28.0 Million (est.)',
 'Price: $30 Million (est.)']

In [83]:
len(Car_Price)

50

In [85]:
df=pd.DataFrame({"Car Name":Car,"Car Price":Car_Price})
df

                              Car Name                    Car Price
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profilée         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)